name: Trigger website update
on:
  push:
    tags: "v*"
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/github-script@v6
      with:
        github-token: "${{ secrets.PERSONAL_ACCESS_TOKEN }}"
        script: |
          await github.rest.actions.createWorkflowDispatch({
            owner: 'jmespath-community',
            repo: 'jmespath.site',
            workflow_id: 'build.yaml',
            ref: 'main',
            inputs: { version: '${{ github.ref_name }}' }
          })
